.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          %p  
            = @group.name
        .chat__info-left__members
          %ul.left-header__members
            %p
              Members:
              - @group.group_users.each do |group_user|
                = group_user.user.name
      .right-header
        .right-header__button
          = link_to 'Edit', edit_group_path(@group.id), class: "btn"
    .messages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            %i.far.fa-image 
            -# = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'